.container-main{
  max-width: 1920px;
  padding-left: 106px;
  padding-top: 78px;
  display: flex;
  gap: 20px;
  background-image: url(./background.png);
  background-position: bottom right;
  background-repeat: no-repeat;
margin: auto;
}
.navlogo{
  width: 248px;
  height: 66px;
}
a{
  text-decoration: none !important;
  color: inherit !important;
}
.backgroundvector{
  background-image: url(./Layer_1.png);
  background-repeat: no-repeat;
}
.cdllogo{
  width: 154px;
  height: 52px;
}
body{
  overflow-x: hidden;
}
.logoimagecontainer{
  margin: auto;

}
.forlarger{
  margin-top: 140px;
  width: 663px;
}
.logoimagecontainer img{
  width: 154px;
  height: 52px;
}
.registrationarea{
  max-width: 519px;
  text-align: center;
}
.registrationarea input:focus{
  outline: none;
}
.textheading{
  color: var(--Black, #0C141D);
text-align: center;
font-family: var(--font-inter);
font-size: 27px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 40.5px */
}
.descriptiontext{
  color: var(--Gray-500, #667085);
text-align: center;
font-family: var(--font-inter);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}
.oneinput{
  display: flex;
width: 519px;
height: 58.797px;
padding: 0px 16px;
align-items: center;
gap: 12px;
flex-shrink: 0;
border-radius: 30px;
border: 1px solid var(--Gray-300, #D0D5DD);
color: var(--Gray-500, #667085);
text-align: center;
font-family: var(--font-inter);
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 25.5px */
margin-top: 15px;
}
.inputfeilds{
  width: 100%;
  border: none;
  background-color: inherit;
}
.forboxes{
  margin-top: 45px;
}
.checkbox{
  color: var(--Gray-500, #667085);
font-family: var(--font-inter);
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 22.5px */
margin-top: 15px;

}
.condtions{
  color: var(--Gray-500, #667085);
font-family: var(--font-inter);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: 150%;
text-decoration: underline;
}
.boxcheck{
  width: 30px;
  height: 27px;
  cursor: pointer;
}
.registerbox{
  display: flex;
width: 519px;
height: 58.797px;
padding: 8px 20px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 30px;
background: #F7CB3B;
color: #000;
font-family: var(--font-inter);
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 49px;
cursor: pointer;
}
.insta{
  width: 153px;
height: 47px;
flex-shrink: 0;
border-radius: 100px;
border: 1px solid #D0D5DD;
background: rgba(255, 255, 255, 0.00);
display: flex;
align-items: center;
justify-content: center;
color: var(--Black, #0C141D);
text-align: center;
font-family: Arimo;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}
.socialicons{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 100px;
}

.largeimage img{
  width: 596px;
}
.forlebel{
  color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: var(--font-inter);
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 130%; /* 18.2px */
text-transform: uppercase;
}
.contenttitle{
  color: #595B62;
text-align: center;
font-family: var(--font-inter);
font-size: 37.415px;
font-style: normal;
font-weight: 400;
line-height: 43.458px; /* 116.151% */
letter-spacing: -0.374px;
max-width: 380px;

}
.registerbtn{
  display: flex;
width: 180px;
height: 56px;
padding: 24px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
border: 2px solid #FBB723;
color: #FBB723;
font-family: var(--font-inter);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
margin-right: 10px;
}
.contenttitle span{
  color: #595B62;
font-family: var(--font-inter);
font-size: 37.415px;
font-style: normal;
font-weight: 800;
line-height: 43.458px;
letter-spacing: -0.374px;
}
.forflex{
  display: flex;
}
.positioning{
  position: relative;
  top: 100px;
}
.positioning img{
  position: relative;
  right: 276px;
  bottom: 35px;
}
/* customStyles.css */
.dropdowncover {
  border: 2px solid #D2D2D2 !important; /* Higher specificity with !important */
  border-radius: 4px;
}

.dropdown-menu-custom {
  border: 2px solid #D2D2D2 !important; /* Higher specificity with !important */
}

.falgsimage{
  width: 17px;
  height: 17px;
}
.dropdown-item-custom {
  padding: 100px 20px; /* Example padding */
  border-radius: 4px; /* Optional: Add border radius */
}
.marker{
  position: relative;
  bottom: 70px;
  left: 20px;
}
.doneimage{
  display: flex;
  max-width: 453px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
.doneimage img{
  width: 69px;
  height: 69px;

}
.infosent{
  color: #0A0A0A;
text-align: center;
font-family: var(--font-inter);
font-size: 26.726px;
font-style: normal;
font-weight: 700;
line-height: 42.761px; /* 160% */
margin-top: 40px;
}
.start{
  color: #696969;
text-align: center;
font-family: var(--font-inter);
font-size: 18.708px;
font-style: normal;
font-weight: 400;
line-height: 26.726px; /* 142.857% */
}
.backtohome{
  width: 239.623px;
height: 73.521px;
flex-shrink: 0;
border-radius: 40.089px;
background: #FBB723;
color: #000;
text-align: center;
font-family: var(--font-inter);
font-size: 22.717px;
font-style: normal;
font-weight: 600;
line-height: 18.708px; /* 82.353% */
display: flex;
justify-items: center;
align-items: center;
justify-content: center;
margin-top: 30px;
cursor: pointer;
}
.timer{
  margin-top: 60px;
}
.socialimg{
  width: 30px;
  height: 27px;
}
.sociali{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 100px;
  max-width: 452px;
  margin-top: 30px;
}
.personimg img{
  position: relative;
  right: 207px;
  top: 262px;
}
@media (max-width:1440px) {
  .dropdownitems{
    display: none;
  }
  .largeimage img{
   width: 400px;
  }
  .contenttitle{
    font-size: 27px;
  }
  .contenttitle span{
    font-size: 27px;
  }
}
.mobileversion{
  display: none;
}
.countdown{
 display: flex;
 gap: 10px;
 align-items: center;
 justify-content: center;
 margin-top: 20px;
}
@media (max-width:786px) {
  .desktopversion{
    display: none;
  }
  .mobileversion{
    display: block;
  }
  .infosent{
    margin-top: 10px;
  }
  .doneimage{
    margin-top: 30px;
  }
  .mainmobile{
    background-image: url(./mobileback.png);
    background-repeat: no-repeat;
    background-position: right top;
   
  }
  .dropdownitem{
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .anotherback{
    background-image: url(./mobilenew.png);
    background-repeat: no-repeat;
  }
  .centralimage{
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .centertext{
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: var(--font-inter);
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 31.2px */
padding-top: 62px;
display: flex;
justify-content: center;
  }
  .coverofallinput{
    width: 90%;
    margin: auto;
    padding-top: 20px;
  }
  .oneinput{
    width: 100%;
  }
  .registerbox{
width: 100%;
  }
  .accountcreate{
    color: var(--Black, #0C141D);
text-align: center;
font-family: var(--font-inter);
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 150%; /* 36px */
  }
  .descriptiontext{
    max-width: 80%;
    margin: auto;
  }
  .countdown{
    margin-top: 0px;
    padding-top: 20px;
  }
 .termandconditions{
  color: var(--Gray-500, #667085);
font-family: var(--font-inter);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: 150%; /* 22.5px */
display: flex;
justify-content: center;
margin-top: 30px;
 }
}